*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
  padding: 50px 50px;
  background-color: rgb(105, 93, 93);
  color: aliceblue;
  font-size: 1.2rem;
}
.title{
    text-align: center;
}

.img-container {
    height: 10%;
    text-align: center;
    padding: 30px;
    
}

.time ul{
    list-style-type: none;
    padding: 20px;
    
}
.quote {
    text-align: center;
    padding: 20px;
}
.quote-2 {
    text-align: center;
}